# Relational Database URL. For this project I used PostgreSQL, but you can use any database supported by SQLAlchemy. The format is:
DATABASE_URL=

# LangSmith API Key for tracing and monitoring. You can get this from your LangSmith account.
LANGSMITH_TRACING_V2=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=itsm-agent

# Postgres Setup
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# GitHub APP Credentials for GitHub integration. You need to create a GitHub App and fill in these details.
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=