services:
  db:
    image: postgres:18-alpine
    container_name: itsm_agent_postgres_db
    
    # "no" = won't run until you type 'docker-compose up'
    restart: no
    
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    
    ports:
      - "${POSTGRES_PORT}:5432"
    
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: