services:
  backend:
    build: .
    container_name: itsm_agent_backend
    # ports:
    #   - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - GITHUB_APP_PRIVATE_KEY=/app/pr-comment-bot-key.2026-01-28.pem
    volumes:
      - ./pr-comment-bot-key.2026-01-28.pem:/app/pr-comment-bot-key.2026-01-28.pem:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/api/v1/health').read()"]
      interval: 10s
      timeout: 5s
      retries: 5

  caddy:
    image: caddy:2-alpine
    container_name: itsm_agent_caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

  # Local dev db container setup
  # db:
  #   image: postgres:18-alpine
  #   container_name: itsm_agent_postgres_db
    
  #   restart: unless-stopped
    
  #   environment:
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #     POSTGRES_DB: ${POSTGRES_DB}
    
  #   ports:
  #     - "${POSTGRES_PORT}:5432"
    
  #   volumes:
  #     - db_data:/var/lib/postgresql/data

  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
  #     interval: 1m30s
  #     timeout: 30s
  #     retries: 5
  #     start_period: 30s

volumes:
  db_data:
  caddy_data:
  caddy_config: