services:
  backend:
    build: .
    container_name: itsm_agent_backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - GITHUB_APP_PRIVATE_KEY=/app/private-key.pem
    volumes:
      - ./${GITHUB_APP_PRIVATE_KEY}:/app/private-key.pem
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    container_name: itsm_agent_postgres_db
    
    # "no" = won't run until you type 'docker-compose up'
    restart: no
    
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    
    ports:
      - "${POSTGRES_PORT}:5432"
    
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: